	h1 {
        color: white;
        font-size: 33px;
	}
	body {
        background-color: #0A0A0A;
	}
	h2 {
        color: white;
        font-size: 30px
	}
	.topo {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
	}
	.topo button {
        color: white;
        border-radius: 100px;
        font-size: 15px;
        width: 35px;
        height: 35px;
	}
        .pesquisa {
            display: flex;
            align-items: center;
            width: 90%;
            height: 45px;
            background-color: #222222;
            border-radius: 20px;
        }

        .pesquisa input {
            background: transparent;
            border: none;
            outline: none;
            color: #959393;
            font-size: 16px;
        }
