<body>

    <header>
        <style>
           h1 {
            color: pink;
            font-size: 150px;
            }
           body {
            background-color: #1f1f1f;
            }
           h2 {
            color: white;
            font-size: 150px;
            }
        </style>
    </header>